@page "/admin"
@inject IGameService GameService

<div class="row g-0 pb-2">
    <h5>Game List</h5>
    <div class="col-12 container-fluid">
        <div class="row g-2 justify-content-center">
            @foreach (Game game in GameService.Games)
            {
                <div class="col">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Game status: @game.Status</h5>
                            <p class="card-text">Id: @game.Id</p>
                            <ul>
                                @foreach (Player player in game.Players)
                                {
                                    <li>@player.Name</li>
                                }
                            </ul>
                            <button class="btn btn-danger" @onclick="()=>RemoveGame(game.Id)">Stop</button>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>



@code {


    protected async Task RemoveGame(string gameId)
    {
        GameService.DemolishGame(gameId);
        await InvokeAsync(StateHasChanged);
    }
}
