.left-flex {
    width: 45.6%;
}

.center-flex {
    width: 27.2%;
}

.right-flex {
    width: 27.2%;
}

.float-right {
    float: right;
}

.scrolling-left {
    overflow-x: hidden;
    overflow-y: auto;
    height: 100%;
}

.scrolling-middle {
    overflow-x: hidden;
    overflow-y: auto;
    height: 100%;
    background: #CCCCCC;
    background: -webkit-linear-gradient(bottom, #CCCCCC, #B3B6B6);
    background: -moz-linear-gradient(bottom, #CCCCCC, #B3B6B6);
    background: linear-gradient(to top, #CCCCCC, #B3B6B6);
    border-radius: 4px 4px;
}

.upper-row {
    height: 23vw;
}

.lower-row {
    height: calc(100% - 23vw);
}

.drop-zone {
    border-radius: 4px 4px;
    padding: 10px;
    /*border: 1px solid gray;*/
    background: #CCCCCC;
    background: -webkit-linear-gradient(bottom, #CCCCCC, #B3B6B6);
    background: -moz-linear-gradient(bottom, #CCCCCC, #B3B6B6);
    background: linear-gradient(to top, #CCCCCC, #B3B6B6);
    height: 12.5vw;
}
